<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Поступление в ВУЗ</title>
    </head>
    <body>
        <h3>Поступление в ВУЗ</h3>
        <form method="POST">
            <label>Фамилия, имя, отчество</label><br>
            <input type="text" name="fio" /><br><br>
            <label>Пол</label><br>
            <input type="text" name="sex" /><br><br>
            <label>Место рождения</label><br>
            <input type="text" name="place" /><br><br>
            <label>Документ</label><br>
            <input type="text" name="document" /><br><br>
            <label>Специализация</label><br>
            <input type="text" name="specialization" /><br><br>
            <label>Наличие красного диплома</label><br>
            <input type="text" name="red" /><br><br>
            
            <input type="submit" value="Отправить" />
        </form>
    </body>
</html>